.Joe {
    width:500px;
    background:cornflowerblue;
    border:1px solid black;
    box-shadow: 5px 5px 5px 1px black;
    border-radius:20px 0;
    padding:0 3%;
   margin:0 auto;
}

.Joe > * {
    font-family:"Comic Sans MS", sans-serif;
    color:pink
}